.content-section {
    background-color: #3C3C3C; /* Dark gray background */
    padding: 50px 20px; /* Add space around content */
    color: white; /* Text color */
}
.profile-img {
    width: 100%; /* Make image responsive */
    max-width: 250px; /* Limit maximum width */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Add subtle shadow */
}
.section-header {
    font-size: 2rem; /* Header size */
    font-weight: bold;
    margin-bottom: 20px;
}

.section-paragraph {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5; 
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.page-title {
    font-size: 4rem; /* Header size */
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase; /* Make header text uppercase */
    margin-bottom: 20px;
}


.author-paragraph {
    position: relative; /* Ensure pseudo-elements are scoped to this container */
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    background: whitesmoke;
    color: #3C3C3C;
    padding: 20px 40px; /* Add padding for space for pseudo-elements */
    border-radius: 10px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease-in-out; 
}

.testimonial-separator {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #8c8c8c, #bfbfbf, #8c8c8c);
    margin: 20px auto;
    border-radius: 2px; /* Optional for rounded edges */
}

.testimonial-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 15px;
}

.container-fluid {
    display: flex;
    align-items: flex-start; /* Align children to the top */
    justify-content: space-between; /* Spread out the items horizontally */
    height: 100%; /* Ensure it fills the parent height */
}
.testimonial-divider {
    border: 0;
    height: 1px;
    background-color: #3C3C3C;
    margin: 20px 0;
    opacity: 0.6; /* Optional: Adjust opacity for a subtle effect */
}
.about-divider {
    border: 0;
    height: 0.2px;
    background-color: whitesmoke;
    opacity: 0.6; 
    margin: 0;
}
.test-content-section {
    color: #3C3C3C; /* Text color */
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}

.test-navbar .navbar-nav {
    flex-direction: row !important; /* Always stay in a row */
    gap: 20px; /* Add spacing between items */
}

/* Ensure links don't stack */
.test-navbar .nav-item {
    display: inline-block;
}

.test-navbar .nav-link {
    color: whitesmoke !important;
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.test-navbar .nav-link:hover {
    color: #8a8888 !important;
}

.test-navbar { 
    background-color:#3C3C3C;
    background-size: cover; 
    max-height: 130px;
    display: flex;
    padding: 10px 20px; 
} 

.test-navbar .navbar-brand {
    z-index: 2; 
}

.test-navbar .navbar-brand img {
    width: 140px;
    height: 100px;
    display: block;
}

/* Hover Effect */
.test-navbar .nav-link:hover {
    color:#8a8888 !important; 
}

.custom-btn {
    background-color: #3C3C3C; /* White background */
    color: white; /* Black text */
    font-size: 1.5rem;
    width: auto;
    border-radius: 50px; /* Rounded corners */
    padding: 10px 20px; /* Add padding for better spacing */
    font-weight: lighter;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    white-space: nowrap;
}
.custom-btn:hover {
    border: 1px solid #3C3C3C; /* Black border */
    background-color: white; /* Black background on hover */
    color: black; /* White text on hover */
}
footer {
    background-color: whitesmoke; /* Black background */
    color: #3C3C3C; /* White text */
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
/* Allow the content section to grow and push the footer down */
.content {
    flex: 1;
}
.footer-border {
    border: 0;
    height: 0.5px;
    background-color: rgb(195, 192, 192);
    margin: 5px 0;
    opacity: 0.6; /* Optional: Adjust opacity for a subtle effect */
}
.py-4 p {
    margin-bottom: 0px;
}
.py-4 {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 10px;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.page-padding-all {
    padding: 100px 20px; 
    margin-left: 2%;
    margin-right: 2%;
}

.contact-padding-all {
    padding: 100px 20px; 
}

.contact-info {
    font-size: 1.5rem; 
    margin-top: 20px;
    background: whitesmoke;
    color: #3C3C3C;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease-in-out;
}

.contact-item {
    margin: 10px 0;
}
.contact-item a {
    text-decoration: none;
    color: #696969;
}
.contact-item a:hover {
    color: #d9534f;
}

.home-background-image-section {
    background-image: url('/assets/ball_only_medium.jpg');
    background-size: cover;
    background-position: center;
    height: 500px; /* Make sure the height is set */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.home-page-logo {
    width: 240px;
    height: 161.25px;
}

@media (max-width: 768px) {
    .section-paragraph {
        font-size: 2rem;
    }
    .test-navbar .navbar-brand img  {
        max-width: 50% !important;
        height: auto !important;
    }
    .test-navbar .nav-link {
        font-size: 2em;
    }
    .author-paragraph {
        font-size: 2em;
    }
    .contact-info {
        font-size: 2em;
    }

    .custom-btn {
        font-size: 2em;
    }

    .author-paragraph {
        font-size: 1em;
        padding: 15px 30px; /* Adjust padding */
    }
    .author-paragraph::before,
    .author-paragraph::after {
        font-size: 40px; /* Adjust size for mobile */
    }
}

.nav-link.active {
    font-weight: bold;
}

.bi-instagram {
    font-size: 24px; 
    color: #E4405F;
}